{% extends 'admin/base_site.html' %}

{% block content %}
<div id="content-main">
    <div class="module">
        <h1 style="font-weight: 500;">Are you sure you want to mark this order as paid?</h1>
        <form method="post" style="display: flex; font-size: 1.25rem; gap: 1rem;">
            {% csrf_token %}
            <a href="{% url 'admin:store_order_paid' order_id=order.id %}">Yes</a>
            <a href="{% url 'admin:store_order_changelist' %}">No</a>
        </form>
    </div>
</div>
{% endblock %}